.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  background: var(--material-list-item-bg-color);
  border-radius: var(--material-list-item-border-radius);
  padding: var(--material-list-item-padding);
}

.title {
  grid-column: 1;
  text-align: left;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-eb);
}

.author {
  grid-column: 1;
  text-align: left;
  font-size: var(--font-size-s);
}

.list {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  gap: 3px;
  background: var(--material-list-holder-bg-color);
  padding: 5px;
  border-radius: 12px;

  .item {
    background: var(--material-list-item-bg-color);
    font-size: var(--font-size-s);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
  }
}

.preview {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}
