.wrapper {
  font-size: var(--font-size-m);
  width: var(--competency-width);
  background-color: var(--white-font-color);
  border-radius: var(--competency-border-radius);
  padding: var(--competency-padding);
  border: var(--default-border);
}