:root {
  --default-bg-color: #EEF2F8;
  --default-border: 1px solid #D8E1EF;
  --default-border-radius: 12px;

  // * Fonts
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;

  --font-weight-eb: 800;


  --white-font-color: #FFFFFF;

  // * Block
  --block-min-width: 500px;

  --block-bg-color: #FFFFFF;
  --block-border-radius: 12px;
  --block-padding: 10px 20px 10px 20px;

  // * Button
  --main-button-bg-color: #F91F71;
  --main-button-bg-color-focus: #af1c53;
  --main-button-border-radius: 8px;
  --main-button-padding: 10px 15px 10px 15px;

  // * Material Item
  --material-list-item-bg-color: #D9D9D9;
  --material-list-holder-bg-color: #BEBEBE;
  --material-list-item-border-radius: 8px;
  --material-list-item-padding: 10px 12px;

  // * QuestionForm
  --question-form-padding: 10px 15px 10px 15px;
  --question-form-gap: 24px;
  --question-form-margin-bottom: 10px;
}